.newIntro {
    display: flex;
    /* justify-content: center; */
    background-color: white;
    overflow: hidden;

}

.leftintro {
    flex: 0.6;
    /* border-radius: 50%; */
    justify-content: center;
    overflow: hidden;
    align-items: center;

}

.rightintro {
    flex: 0.4;
    background-color: white;
    /* color: #000; */
    display: flex;
    flex-direction: column;
    
}

.imgcontainer {
    height: 700px;
    width: 700px;
    background-color: crimson;
    border-radius: 50%;
    display: flex;
    align-self: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    float: left;
}
.img{
    overflow: hidden;
    align-self: center;
    height:60%;
    width: 60%;
}