.newIntro {
    display: flex;
    /* justify-content: center; */
    background-color: white;
    overflow: hidden;

}

.leftintro {
    flex: 0.6;
    /* border-radius: 50%; */
    justify-content: center;
    overflow: hidden;
    align-items: center;
}



.rightintro {
    flex: 0.4;
    background-color: white;
    /* color: #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.imgcontainer {
    height: 500px;
    width: 500px;
    /* background-color: crimson; */
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    float: left;
    position: absolute;
    z-index: 2;
}
.img{
    overflow: hidden;
    align-self: center;
    height:60%;
    width: 60%;
    margin: 50%;
}

.saluation{
    height: 80px;
    overflow:hidden;
    align-self: flex-start;
    padding: 10px;
    margin: 0px;
}

.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

.outer{
    position: relative;
    bottom: 70px;
    margin-top:30%;
    background: transparent;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;
    animation: rotate 1.5s linear infinite;
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
   
}

@media only screen and (max-width: 700px)
{
  #outer{
    flex: 0.8;
    /* border-radius: 50%; */
    justify-content: center;
    overflow: hidden;
    align-items: center;
  }

  #imgcontainer{
    height: 300px;
    width: 300px;
  }

 

}

.circle{
    /* height: 220px;
    width: 220px; */
    height: 80%;
    width: 80%;
    border-radius: 50%;
    align-self: center;
    /* flex-wrap:; */
    
}
.outer img, .outer span{
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    align-self: center;

}
.outer img{
    background-color:#000;
    color: #f2f2f2;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 9;
    align-self: center;
    height: 80%;
    width: 80%;
}

.div img{
    height: 80%;
    width: 80%;
    border-radius: 50px;
}
.circle img{
    height: 90%;
    width: 90%;
    border-radius: 50%;
}
.outer span{
    height: 100%;
    width: 100%;
    background: crimson;
}
.div span{
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.circle span{
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}



/*==ANIMATIONS==*/
@keyframes rotate{
    20%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}