.app{
    height:100vh;
}

 .sections{
    width:100%;
     top:70px  ;
     background-color:blueviolet; 
     height:calc(100vh - 70px);
    position: relative;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

.sections *{
    width: 100vw;
    height:calc(100vh - 70px) ;
    scroll-snap-align: start;
}
.sections::-webkit-scrollbar {
    display: none;
  }