:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  */
  /* overflow-y: hidden; */

  background-color: red;
  color: rgba(255, 255, 255, 0.87);

}


